*{
	margin: 0px;
	padding: 0px;
}

body{
	margin: auto;
	background-color: #660033;
	width: 100%;
}


div.content{
	width: 100%;
	margin: 0 auto;
}

.canvas {
	margin-top: 25px;
	background-color: #990033;
	border: 5px solid purple;"
}

@media all and (min-width: 768px){
	
}

@media all and (min-width: 986px){
	
}

@media all and (min-width: 1148px){
	
}