body 
{
	background-color: #FFAEC9;
	width: 66%;
}

canvas
{
	border: 5px solid;
	border-color: FA0000;
}

img
{
	position: absolute;
	margin-left: -810px;
	border: 5px solid;
	border-color: FA0000;
}

h1
{
	position: relative;
	font-family: "MS", sans-serif;
	font-size: 200;
	color: #FA0000;
	margin-left: 35px;
	margin-bottom: 5px;
}